APP_NAME="SSU Frontend"
ENVIRONMENT=staging

# BASE_URL=http://afia.pageone247.com
# API_PATH=/api
# BACKEND_URL=http://afia.pageone247.com

NUXT_PUBLIC_API_BASE=http://localhost:8000
NUXT_PUBLIC_API_PATH=/api
NUXT_PUBLIC_BASE_URL=http://localhost:3000

STRIPE_LIVE_ENVIRONMENT=false
STRIPE_PUBLISHABLE_KEY=
STRIPE_ACCOUNT=
STRIPE_API_VERSION=
STRIPE_LOCALE=en